NET "r0" LOC = P22 | IOSTANDARD = LVCMOS33;
NET "g0" LOC = P21 | IOSTANDARD = LVCMOS33;
NET "bl0" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "r1" LOC = P27 | IOSTANDARD = LVCMOS33;
NET "g1" LOC = P26 | IOSTANDARD = LVCMOS33;
NET "bl1" LOC = P30 | IOSTANDARD = LVCMOS33;
NET "rowsel0" LOC = P33 | IOSTANDARD = LVCMOS33;
NET "rowsel1" LOC = P32 | IOSTANDARD = LVCMOS33;
NET "rowsel2" LOC = P35 | IOSTANDARD = LVCMOS33;
NET "rowsel3" LOC = P34 | IOSTANDARD = LVCMOS33;
NET "dispclk" LOC = P41 | IOSTANDARD = LVCMOS33;
NET "latch" LOC = P40 | IOSTANDARD = LVCMOS33;
NET "blank" LOC = P51 | IOSTANDARD = LVCMOS33;
NET "joystickaLeft" LOC = P2 | IOSTANDARD = LVTTL | PULLUP;
NET "joystickaUp" LOC = P6 | IOSTANDARD = LVTTL | PULLUP;
NET "joystickaRight" LOC = P8 | IOSTANDARD = LVTTL | PULLUP;
NET "joystickaDown" LOC = P10 | IOSTANDARD = LVTTL | PULLUP;
NET "joystickbLeft" LOC = P1 | IOSTANDARD = LVTTL | PULLUP;
NET "joystickbUp" LOC = P5 | IOSTANDARD = LVTTL | PULLUP;
NET "joystickbRight" LOC = P7 | IOSTANDARD = LVTTL | PULLUP;
NET "joystickbDown" LOC = P9 | IOSTANDARD = LVTTL | PULLUP;
NET "start" LOC = P57 | IOSTANDARD = LVTTL | PULLUP;
NET "startlight" LOC = P58 | IOSTANDARD = LVCMOS33;
NET "playerone" LOC = P66 | IOSTANDARD = LVTTL | PULLUP;
NET "playeronelight" LOC = P58 | IOSTANDARD = LVCMOS33;
NET "playertwo" LOC = P74 | IOSTANDARD = LVTTL | PULLUP;
NET "playertwolight" LOC = P58 | IOSTANDARD = LVCMOS33;