NET "r0" LOC = P22;
NET "r0" IOSTANDARD = LVCMOS33;
NET "g0" LOC = P21;
NET "g0" IOSTANDARD = LVCMOS33;
NET "bl0" LOC = P24;
NET "bl0" IOSTANDARD = LVCMOS33;
NET "r1" LOC = P27;
NET "r1" IOSTANDARD = LVCMOS33;
NET "g1" LOC = P26;
NET "g1" IOSTANDARD = LVCMOS33;
NET "bl1" LOC = P30;
NET "bl1" IOSTANDARD = LVCMOS33;
NET "rowsel0" LOC = P33;
NET "rowsel0" IOSTANDARD = LVCMOS33;
NET "rowsel1" LOC = P32;
NET "rowsel1" IOSTANDARD = LVCMOS33;
NET "rowsel2" LOC = P35;
NET "rowsel2" IOSTANDARD = LVCMOS33;
NET "rowsel3" LOC = P34;
NET "rowsel3" IOSTANDARD = LVCMOS33;
NET "dispclk" LOC = P41;
NET "dispclk" IOSTANDARD = LVCMOS33;
NET "latch" LOC = P40;
NET "latch" IOSTANDARD = LVCMOS33;
NET "blank" LOC = P51;
NET "blank" IOSTANDARD = LVCMOS33;
NET "joystickaLeft" LOC = P2;
NET "joystickaLeft" IOSTANDARD = LVTTL;
NET "joystickaLeft" PULLUP;
NET "joystickaUp" LOC = P6;
NET "joystickaUp" IOSTANDARD = LVTTL;
NET "joystickaUp" PULLUP;
NET "joystickaRight" LOC = P8;
NET "joystickaRight" IOSTANDARD = LVTTL;
NET "joystickaRight" PULLUP;
NET "joystickaDown" LOC = P10;
NET "joystickaDown" IOSTANDARD = LVTTL;
NET "joystickaDown" PULLUP;
NET "joystickbLeft" LOC = P1;
NET "joystickbLeft" IOSTANDARD = LVTTL;
NET "joystickbLeft" PULLUP;
NET "joystickbUp" LOC = P5;
NET "joystickbUp" IOSTANDARD = LVTTL;
NET "joystickbUp" PULLUP;
NET "joystickbRight" LOC = P7;
NET "joystickbRight" IOSTANDARD = LVTTL;
NET "joystickbRight" PULLUP;
NET "joystickbDown" LOC = P9;
NET "joystickbDown" IOSTANDARD = LVTTL;
NET "joystickbDown" PULLUP;
NET "start" LOC = P57;
NET "start" IOSTANDARD = LVTTL;
NET "start" PULLUP;
